<div class="headline" >
  <h2 class="grey-title" *ngIf="!mobileScreen"> Historique : <span *ngIf="dataSource" >{{total}} </span></h2>
  <div class="grey-title-mobile" *ngIf="mobileScreen"> Historique : <span *ngIf="dataSource" >{{total}} </span></div>
  <dx-text-box 
    placeholder="🔍 Recherche..." 
    valueChangeEvent="keyup"  
    stylingMode="outlined"
    (onValueChanged)="filterdatagrid($event)"
    style="width:153px">
  </dx-text-box>
</div>
<h2 style="font-size: medium;"  > Demandes traitées </h2>

<div *ngIf="dataSource" class="data-grid with-margin-top"> 
  <dx-data-grid 
    (onRowClick)="openInfo($event)"
    class="dx-card wide-card"
    [dataSource]="dataSource"
    [columns]="columns"
    [hoverStateEnabled]="true">
    <dxo-search-panel [visible]="false" [text]="searchText"></dxo-search-panel>
  </dx-data-grid>
</div>


<!--LOADER-->
<div *ngIf="!dataSource">
  <app-loader-bis></app-loader-bis>
</div>
  
