<!--HEADLINE-->
<div class="headline" *ngIf="dataSource">
  <h2 class="grey-title"> Demandes en cours &nbsp; <span *ngIf="dataSource">{{total}} </span> </h2> 
  <dx-text-box 
    placeholder="🔍 Recherche..." 
    valueChangeEvent="keyup"  
    stylingMode="outlined"
    (onValueChanged)="filterdatagrid($event)"
    style="width:153px;">
  </dx-text-box>
</div>

<!--DATAGRID-->
<div class="data-grid with-margin-top" *ngIf="dataSource">
  <dx-data-grid 
    (onRowClick)="openInfo($event)" 
    class="dx-card wide-card" 
    [dataSource]="dataSource"
    [columns]="columns" 
    id="datagrid"   
    [hoverStateEnabled]="true">
    <dxo-search-panel [visible]="false" [text]="searchText"></dxo-search-panel>
  </dx-data-grid>
</div>

<!--LOADER-->
<div *ngIf="!dataSource">
  <app-loader-bis></app-loader-bis>
</div>