@import '../../../themes/generated/variables.additional.scss';

:host {
    .cards-content {
        display: flex;
        justify-content: space-between;
        .dx-card {
            width: 25%;
            height: calc(18vh);
        }
        .number {
            text-align: center;
            font-size: 60px;
            color:$base-border-color;
        }
    }

    .graphes-content {
        display: flex;
        justify-content: space-between;
        .dx-card {
            width: 50%;
            height: calc(58vh);
            .card-title{
                margin-bottom: 10px;
            }
        }
    }
}