<!--TITRE-->
<!-- <h2 class="grey-title"> Accueil </h2>
 -->
<br><br>
<h1 class="titre grey-title" [ngClass]="adaptTitle()"> My LePrisme</h1>

<!--CARDS-->
<div class="cards-content">
  <!-- <div class="dx-card">
      <div class="card-title">Demandes en cours</div>
      <div class="number">{{nbrDemande}}</div>
  </div> -->
  <!-- <div class="dx-card">
      <div class="card-title">Rendez-vous du jour</div>
      <div class="number">*</div>
  </div>
  <div class="dx-card">
      <div class="card-title">Messages non-lus </div>
      <div class="number">*</div>
  </div>
  <div class="dx-card">
      <div class="card-title"> Visiteurs du jour </div>
      <div class="number">*</div>
  </div> -->
</div>

<!--GRAPHES-->
<!-- <div class="graphes-content"> -->
  <!--Courbe-->
  <!-- <div class="dx-card">
    <div class="card-title"> Demandes / semaine</div>
      <dx-chart [dataSource]="countriesInfo">
          <dxo-common-series-settings
            #seriesSettings
            argumentField="country"
            [type]="types[0]">
          </dxo-common-series-settings>
          <dxo-size [height]="300"></dxo-size>
          <dxi-series
            *ngFor="let energy of energySources"
            [valueField]="energy.value"
            [name]="energy.name"
            color="#FF5720">
          </dxi-series>
          <dxo-legend [visible]=false></dxo-legend>
          <dxo-argument-axis
            [valueMarginsEnabled]="false"
            discreteAxisDivisionMode="crossLabels">
              <dxo-grid [visible]="true"></dxo-grid>
          </dxo-argument-axis>
        <dxo-export [enabled]="false"></dxo-export>
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
      </dx-chart>
  </div> -->

  <!--Histogramme-->
  <!-- <div class="dx-card">
    <div class="card-title">Visteurs / semaine</div>
    <dx-chart [dataSource]="datasource">
      <dxo-size [height]="302"> </dxo-size>
      <dxi-series
        argumentField="day"
        valueField="oranges"
        name="My oranges"
        type="bar"
        color="#FF5720">
      </dxi-series>
      <dxo-legend [visible]=false></dxo-legend>
    </dx-chart>
  </div>
</div> -->