.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}
.cardtitle{
  margin-left: 10px;
}
.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}

.angular-logo {
  width: 220px;
  height: 62px;
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}
 :host {
  .dx-card {
    width: 23%;
    text-align: start;
    padding: 5px;
    border-radius: 1px;
    font-size: 110%;
  }
  .number {
    text-align: center;
    font-size: 400%;
    color:#53535b;

  }
  .card2{
    width: 48.6%;
  }
  .dx-toolbar-label .dx-toolbar-item-content > div {
    color:#53535b;font-weight: 700;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

 }

